<!DOCTYPE HTML>
<html
>
<head>
	<meta charset="UTF-8"/>
	<title>ates-auth</title>
</head>
<body>
<div>
	<h1>Awesome Task Exchange System (ATES): сервис аутентификации</h1>
	Используйте его для доступа ко всем защищенным ресурсам других приложений
</div>
<div>
	<h3>Чтобы залогинтся пройдите по ссылке</h3>
	<a href="/login">login</a>
</div>
<div>
	<h3>Доступ к этим ресурсам только у аутентифицированных пользователей</h3>
	<a href="/auth/users/list">/auth/users</a>
	<br/>
	<a href="/auth/users/me">/auth/me</a>
	<br/>
	<a href="/auth/test-message/send">/auth/test-message/send-test-message</a>
</div>
<br/>
<div>
	<h3>Для отладки</h3>
	<a href="/h2-console">h2-console</a>
</div>
</body>
</html>